<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dongnae.marker.dao.MarkerDataDAO">

   <select id ="allMenu" resultType="MarkerDataVO">
      SELECT * FROM MARKERDATA 
      ORDER BY WRITE_DATE DESC
   </select>
   
   <select id ="getMenu" resultType="MarkerDataVO">
      SELECT * FROM MARKERDATA 
      WHERE MARKER_IDX = #{marker_idx}
      ORDER BY WRITE_DATE DESC
   </select>
   
    <select id="getRealTimeAccidents" resultType="MarkerDataVO">
        SELECT *
        FROM MARKERDATA
        WHERE MARKER_IDX = #{marker_idx} AND WRITE_DATE >= SYSTIMESTAMP - INTERVAL '10' MINUTE
        ORDER BY WRITE_DATE DESC
    </select>
    
   <select id ="getNearAccidents" resultType="MarkerDataVO">
      SELECT * FROM MARKERDATA 
      WHERE MARKER_IDX = #{marker_idx}
      ORDER BY WRITE_DATE DESC
   </select>
   
    
   <insert id="insertMarker" parameterType="MarkerDataVO">
       INSERT INTO MARKERDATA (markerdata_idx, marker_idx, title, content, latitude, longitude)
       VALUES (SEQ_MARKERDATA_IDX.NEXTVAL, #{markerIdx}, #{title}, #{content}, #{latitude}, #{longitude})
   </insert>
   
</mapper>





