<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dongnae.bbs.BbsDAO">
	
	<!-- 페이징 위한 게시글 목록 - begin ~ end 까지 -->
	<select id="getPagingBbsList" parameterType="Map" resultType="bbsVO">
	<![CDATA[
		SELECT *
		FROM (SELECT ROWNUM R_NUM, B.*
		      FROM (SELECT *
		            FROM BBS
		            ORDER BY BBS_IDX DESC
		           ) B
		      WHERE ROWNUM <= #{end}
		     )
		WHERE R_NUM >= #{begin} 
	]]>
	</select>
	
	<!-- 지도 마커 표시 위한 게시글 목록 - 24시간 이내 작성된 게시글 목록 -->
 	<select id="getMarkingBbsList" resultType="bbsVO">
		SELECT BBS_IDX, MAKER_IDX, WRITER, TITLE, CONTENT, TO_CHAR(WRITE_DATE,'MM/DD HH:MI:SS') 
			HIT, LATITUDE, LONGITUDE
		FROM BBS
		WHERE WRITE_DATE >= (SELECT SYSDATE - 1 FROM DUAL)
		ORDER BY BBS_IDX DESC
	</select>
	
 	<select id="getBbs" parameterType="string" resultType="bbsVO">
		SELECT * FROM BBS
		WHERE BBS_IDX = #{bbsIdx}
	</select>
	
	<insert id="insertBbs" parameterType="bbsVO">
		INSERT INTO BBS
		VALUES (#{bbsIdx},#{makerIdx},#{writer},#{title},#{content},#{writeDate},#{hit},#{latitude},#{longitude})
	</insert>
	
	<update id="updateBbs" parameterType="bbsVO">
		UPDATE BBS
		SET
		<if test="#{makerIdx} != null">
			MAKER_IDX = #{makerIdx},
		</if>
		<if test="#{title} != null">
			TITLE = #{title},
		</if>
		<if test="#{content} != null">
			CONTENT = #{content},
		</if>
		<if test="#{latitude} != null">
			LATITUDE = #{latitude},
		</if>
		<if test="#{longitude} != null">
			LONGITUDE = #{longitude},
		</if>
			BBS_IDX = #{bbsIdx}
		WHERE BBS_IDX = #{bbsIdx}
	</update>
	
	<delete id="deleteBbs" parameterType="String">
		DELETE FROM BBS WHERE BBS_IDX = #{bbsIdx}
	</delete>
	
</mapper>





