<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dongnae.bbs.dao.CommentDAO">

 	<select id="getCommentList" parameterType="commentVO" resultType="commentVO">
		SELECT * FROM COMMENTS
		WHERE DEL_YN = 0
		AND BBS_IDX = #{bbsIdx}
		ORDER BY COMMENT_IDX DESC
	</select>
	
 	<select id="getComment" parameterType="commentVO" resultType="commentVO">
		SELECT * FROM COMMENTS
		WHERE DEL_YN = 0
		AND COMMENT_IDX = #{commentIdx}
	</select>
	
	<insert id="insertComment" parameterType="commentVO">
		INSERT INTO COMMENTS
				(COMMENT_IDX, BBS_IDX, WRITER, CONTENT,
				WRITE_DATE, DEL_YN)
		VALUES (SEQ_COMMENT_IDX.NEXTVAL, #{bbsIdx}, #{writer}, #{content}, 
				SYSDATE, 0)
	</insert>
	
	<update id="updateComment" parameterType="commentVO">
		UPDATE COMMENTS
		SET CONTENT = #{content}
		WHERE DEL_YN = 0
		AND COMMENT_IDX = #{commentIdx}
	</update>
	
	<update id="deleteComment" parameterType="commentVO">
		UPDATE COMMENTS
		SET DEL_YN = 1
		WHERE DEL_YN = 0
		AND COMMENT_IDX = #{commentIdx}
	</update>
	<!-- <delete id="deleteComment" parameterType="commentVO">
	</delete>
	 -->
</mapper>





