<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dongnae.bbs.dao.MarkerDAO">
	
 	<select id="getMarkerList" parameterType="markerVO" resultType="markerVO">
		SELECT * FROM MARKER
		WHERE DEL_YN = 0
		<if test="${userEmail} != null">
		AND USER_EMAIL = ${userEmail}
		</if>
		<if test="${limitRole} != null">
		AND LIMIT_ROLE = ${limitRole}
		</if>
	</select>
	
 	<select id="getMarker" parameterType="markerVO" resultType="markerVO">
		SELECT * FROM MARKER
		WHERE DEL_YN = 0
		AND MARKER_IDX = ${markerIdx}
	</select>
	
	<insert id="insertMarker" parameterType="markerVO">
		INSERT INTO MARKER (MARKER_IDX, USER_EMAIL, LIMIT_ROLE, TYPE,
			IMAGE, DEL_YN)
		VALUES (SEQ_MARKER_IDX.NEXTVAL, #{userEmail}, #{limitRole}, #{type},
			#{image}, 0)
	</insert>
	
	<update id="updateMarker" parameterType="markerVO">
		UPDATE MARKER
		SET 
		<if test="#{type} != null">
			TYPE = #{type}
		</if>
		<if test="#{image} != null">
			IMAGE = #{image}
		</if>
	</update>
	
	<update id="deleteMarker" parameterType="markerVO">
		UPDATE MARKER
		SET DEL_YN = 1
		WHERE DEL_YN = 0
		AND MARKER_IDX = ${markerIdx}
	</update>
	<!-- <delete id="deleteMarker" parameterType="markerVO">
	</delete> -->
	
</mapper>





