<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dongnae.user.dao.UserDAO">
	
	<select id="getUser" parameterType="userVO" resultType="userVO">
		SELECT * 
		FROM USERS 
		WHERE EMAIL = #{email} 
		<if test="kakaoCheck == 0">
			AND PASSWORD = #{password}
		</if>
	</select>
	
 	<select id="getUserByEmail" parameterType="string" resultType="userVO">
		SELECT * FROM USERS WHERE EMAIL = #{email}
	</select>
	
	<insert id="insertUser" parameterType="userVO">
		INSERT INTO USERS
		VALUES
		(#{email}, #{password}, #{nickname}, #{address}, #{detailAddress},
		#{recoverEmail}, #{image}, #{imagePi},
		#{kakaoCheck}, #{token}, #{role})
	</insert>

	
	<insert id="insertKakaoUser" parameterType="userVO">
		INSERT INTO USERS (EMAIL, NICKNAME, IMAGE, KAKAOCHECK)
		VALUES (#{email}, #{nickname}, #{image}, #{kakaoCheck})
	</insert>
	
	<select id="getIdUser" parameterType="String" resultType="userVO">
		SELECT * 
		FROM USERS
		WHERE EMAIL = #{email}  
	</select>
		
	<!-- 이메일 중복체크 - 건희 -->
	<select id="doubleCheckEmail" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM USERS 
		WHERE EMAIL = #{email} 
	</select>
	
	<!-- 복구 이메일과 닉네임으로 이메일 찾기 - 건희 -->
	<select id="findUserEmail" parameterType="userVO" resultType="String">
		SELECT EMAIL
		FROM USERS
		WHERE NICKNAME = #{nickname}
		     AND RECOVEREMAIL = #{recoverEmail}
	</select> 
	
</mapper>
