<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
        <typeAlias alias="userVO" type="com.spring.dongnae.user.vo.UserVO" />
        <typeAlias alias="bbsVO" type="com.spring.dongnae.bbs.BbsVO" />
        <typeAlias alias="markerVO" type="com.spring.dongnae.bbs.MarkerVO" />
        <typeAlias alias="commentVO" type="com.spring.dongnae.bbs.CommentVO" />
        <typeAlias alias="mapCommentsVO" type="com.spring.dongnae.bbs.MapCommentsVO" />
        <typeAlias alias="mapVO" type="com.spring.dongnae.map.vo.MapVO" />
    </typeAliases>
</configuration>






